<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="col-xs-12 col-md-8">
    <section>
        <ul class="nav nav-pills">
            <li ng-class="{active: contCtrl.isSet('yesterday')}">
                <a href ng-click="contCtrl.setTab('yesterday')">Yesterday</a>
            </li>
            <li ng-class="{active: contCtrl.isSet('today')}">
                <a href ng-click="contCtrl.setTab('today')">Today</a>
            </li>
            <li ng-class="{active: contCtrl.isSet('tomorrow')}">
                <a href ng-click="contCtrl.setTab('tomorrow')">Tomorrow</a>
            </li>
        </ul>
        <div class="panel" >
            <h4>{{contCtrl.zodiac | capitalize}}</h4>
            <blockquote>{{contCtrl.horoscope}}</blockquote>
        </div>

    </section>
</div>





